<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
     <add name="StockContainer" connectionString="metadata=res://*/Stock.csdl|res://*/Stock.ssdl|res://*/Stock.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=localhost\MSSQLSERVER01;Database=gestionStock;Trusted_Connection=True;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings> 
	<!--<connectionStrings>
		<add name="StockContainer" connectionString="metadata=res://*/Stock.csdl|res://*/Stock.ssdl|res://*/Stock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\gestionStock.mdf;Integrated Security=True;Connect Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
//DESKTOP-LQBQAVJ\MSSQLSERVER1 
	</connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>